{% extends 'layout.html' %}
{% block content %}
<div id="controlnavbox">
    <div class="ctnavcontent">
        <form id="compileForm" method="POST">
            <input type="hidden" name="behavior" value="compile">
        </form>
        <a onclick="document.getElementById('compileForm').submit();">compile</a>
    </div>
</div>
{% if projects %}
<ul>
    {% for prj in projects %}
    <li><a href="{{ url_for('showUser', user = prj[0], project_path = prj[1]) }}">{{ prj[1] }}</a></li>
    {% endfor %}
</ul>
{% endif %}

<hr>

{% if documents %}
<ul>
    {% for doc in documents %}
    <li><a href="{{ url_for('showUser', user = doc[0], project_path = composePath(doc[1], '§' + doc[2])) }}">{{ composePath(doc[1], doc[2]) }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
