{% extends 'layout.html' %}
{% block content %}
<div id="controlnavbox">
    <div class="ctnavcontent">
        <form method="POST">
            <input type="hidden" name="behavior" value="compile">
            <div class="ctnavbutton">
                <button type="submit">compile</button>
            </div>
        </form>
    </div>
    <div class="ctnavcontent">
        <form method="POST">
            <input type="hidden" name="behavior" value="edit">
            <div class="ctnavbutton">
                <button type="submit">edit</button>
            </div>
        </form>
    </div>

</div>

<h1 id="doctitle">
    <a href="" class="link_doctitle">{{ document_name }} </a>
</h1>

<div id="documentbox">
    {{ document_content | safe }}
</div>
{% endblock %}