<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'app.css') }}"/>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title> SailView </title>
    {% endif %}
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <style>
    .topnav {

        background:royalblue;
        overflow:hidden;
    }

    </style>
</head>
<body>
    <header>
        <nav class="topnav">
            <div class="leftnavbox" style=" margin: 10px; padding-left:10px;padding-right:10px; float:left;display: flex; flex-direction:row; flex-wrap:wrap; align-items:flex-start">
                <a href="/front/" style="padding:4pt; color:white"><strong>MarkWebView</strong></a>
                <a href="/about/" style="padding:4pt; color:white"><strong>About</strong></a>
                <a href="/option" style="padding:4pt; color:white"><strong>Option</strong></a>
            </div>

        </nav>

        <hr color="gray">
    </header>

    <main role="main" style="padding:5pt; margin: 20pt;">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>