<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav>
            <a href="/front/">MarkWebView</a>
            <a href="/about/">About</a>
            <a href="/option">Option</a>
            {% if isadmin %}
            {% if isfile %}
            <form method="post", action="/compile">
                <input style="float:right;" type="submit" name="submit_compile" value="compile">
                <input type="hidden" name="path" value="{{ path }}">
            </form>
            {% elif isdir %}
            <form method="post", action="/compile_dir">
                <input style="float:right;" type="submit" name="submit_compile_dir" value="compile this directory">
                <input type="hidden" name="path" value="{{ path }}">
            </form>
            {% endif %}
            {% endif %}
        </nav>
        <hr>
    </header>
    <main role="main">
        {% block content %}{% endblock %}
    </main>
</body>
</html>